/* iniciando meu primeiro arquivo CSS */

body {
    color: #444;
    background: rgb(32,170,173);
    background: radial-gradient(circle, rgba(32,170,173,1) 1%,
     rgba(43,169,177,1) 4%, rgba(211,223,37,1) 34%, rgba(26,255,0,1) 85%);
    min-height: 100vh;/*  altura minima para o navegador, mesmo celular*/
}
.container {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
}

.destaque {color: red;
}

.profile {
    margin-top: 100px;
}
.profile__header {
    width: 200px;
    height: 200px;
    /*object-fit: cover;*/
}
.profile__about div {
    height: 500px;
    padding: 16px;
    margin: 10px;
}

.profile__about .destaque {
    color: white;
}
a .destaque {
    color: blue;
}